body {
    padding: 15%;
    display: flex;
    flex-direction:column;
    align-items:center;
   
}

.form-control {
    width: 50vh;
    margin-left: 1vh;
}

.btn {
    margin-top: 3vh;
    width: 100%;
}
label, small {
    margin-left: 1vh;
}