.header {
  margin-left: 5vh;
  border-bottom:solid 4px green;
  width:30%;
  height:50px;
}
.title {
  color: black; 
}
.header-links {
  font-size: 2vh;
  padding: 0.5vh;
  margin-top: 1vh;
}
.login-link {
  margin-left: 1vh;
}
section {
  margin-right: 5vh;
  margin-left: 5vh;
}
img {
  width: 7vh;
  height: 7vh;
  align-items: left;
}
.not-active { 
  display: none;  
}
.div-btn {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.noProduct {
  margin-top: 10vh;
  height: 20vh;
  text-align: center;
}


