body {
    padding: 5%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items:center;
}
section {
    padding: 10vh;
    background-color: rgba(17,166,58,0.5);
}
h1 {
    font-size: 200%;
    text-align: center;
    background-color: rgba(0, 0,0, 0.1);
    color: rgba(0, 0,0, 0.6);
  }
.description {
    font-weight: bold;
}
.delete-button {
    margin-top: 2vh;
}
.card-img-top {
    width: 50vh; 
    height: 20vh;
}
